* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(63, 251, 141);
  background: radial-gradient(
    circle,
    rgba(63, 251, 141, 1) 0%,
    rgba(70, 252, 82, 1) 100%
    
  );
  height: 150vh;
}
/* NAVIGATION */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
nav ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  list-style: none;
}

.cart-button {
  width: 75px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.showProducts {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.shoppingCart {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

/* .hidden {
  opacity: 0;
  transition: opacity 2s ease;
} */

/* ---------------- MAIN ------------------*/
.app {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center;  */
  width: 90%;
}

.products,
.summary {
  background-color: white;
  width: 50%;
  border-radius: 10px;
}
.products {
  min-height: 650px;
  border-right: 1px solid black;
}

.summary {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 3rem;
}

.productsList {
  display: flex;
  height: 100%;
  list-style: none;
  flex-direction: column;
}

.productsItems {
  display: flex;
  /* flex: 1; */
  border-bottom: 1px solid black;
  box-sizing: border-box;
  margin: 10px 0 0 10px;
}
.productsList:last-child {
  border-bottom: none;
}

.productsItems img {
  width: 25%;
  height: 200px;
}
.information {
  font-size: 2rem;
  text-align: center;
  margin:auto;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 100%;
}

.cartList {
  margin: 0 auto;
}

.total {
  position: relative;
  margin-bottom: 200px;
}
.productsContainer{
  background-color: orange;
}

.productsInfo{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.1rem;
}

.organize{
  display: flex;
}